<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77349903479-5akogpf73a3u23rcq23qdkunadt71vo0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77349903479-5akogpf73a3u23rcq23qdkunadt71vo0</string>
	<key>API_KEY</key>
	<string>AIzaSyDMXAXAuSmS74_OokhQhnjc-7BkBSFPZjE</string>
	<key>GCM_SENDER_ID</key>
	<string>77349903479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.anketuygulmasi.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>anketuygulamasi-b0b18</string>
	<key>STORAGE_BUCKET</key>
	<string>anketuygulamasi-b0b18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77349903479:ios:0a5211a35a043c39633a72</string>
</dict>
</plist>